# Node modules
node_modules/

# Environment variables
.env

# Firebase Service Account Key (Replace with your actual file name)
invoicecraft-4hbd-firebase-adminsdk-*.json
invoicecraft-4hbcl-firebase-adminsdk-fbsvc-f74b731179.json
